@charset "UTF-8";
/*Colores*/
/*Tipografía*/
/*Display*/
/*Flex*/
* {
  padding: 0;
  margin: 0; }

body {
  background-color: black; }

/*nav escritorio*/
.nav {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .nav .nav_jpg {
    height: 50px;
    width: 50px; }
  .nav h1 {
    display: block;
    position: absolute;
    color: black;
    font-size: 25px;
    left: 60px;
    top: 8px;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-iteration-count: initial; }
  .nav h3 {
    margin-top: 12px;
    margin-right: 15px;
    animation-name: aparecer;
    animation-duration: 2s;
    animation-iteration-count: initial;
    color: black; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.nav_responsive {
  display: none; }

/*nav responsive*/
@media screen and (max-width: 720px) {
  .nav {
    display: none; }
  .nav_responsive {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: aqua;
    width: 100%; }
    .nav_responsive-jpg {
      height: 50px;
      width: 50px; }
    .nav_responsive h1 {
      animation-name: aparecer-responsive;
      animation-duration: 2s;
      animation-iteration-count: initial;
      margin-top: 8px;
      margin-left: 5px; }
  @keyframes aparecer-responsive {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } } }

/*Mobs escritorio*/
.mobs {
  display: flex;
  justify-content: start; }
  .mobs .ahogado .mobs_ahogado-jpg {
    display: block;
    margin-left: 88px;
    margin-top: 30px;
    height: 250px;
    width: 150px; }
  .mobs .ahogado .mobs_ahogado-subtitle {
    display: block;
    position: absolute;
    color: lightseagreen;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 20px; }
  .mobs .ahogado .mobs_ahogado-texto1 {
    display: block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 85px;
    margin-top: 70px; }
  .mobs .ahogado .mobs_ahogado-texto2 {
    display: block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 85px;
    margin-top: 95px; }
  .mobs .ahogado .mobs_ahogado-texto3 {
    display: block;
    position: absolute;
    color: greenyellow;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 145px; }
  .mobs .ahogado .mobs_ahogado-texto4 {
    display: block;
    position: absolute;
    color: greenyellow;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 175px; }
  .mobs .ahogado .mobs_ahogado-texto5 {
    display: block;
    position: absolute;
    color: greenyellow;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 195px; }
  .mobs .ahogado .mobs_ahogado-texto6 {
    display: block;
    position: absolute;
    color: greenyellow;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 215px; }
  .mobs .guardian {
    display: block;
    margin-left: 60px; }
    .mobs .guardian .mobs_guardian-gif {
      display: block;
      margin-left: 88px;
      margin-top: 30px;
      height: 250px;
      width: 200px; }
    .mobs .guardian .mobs_guardian-subtitle {
      display: block;
      position: absolute;
      color: aquamarine;
      font-size: 30px;
      margin-left: 100px;
      margin-top: 20px; }
    .mobs .guardian .mobs_guardian-texto1 {
      display: block;
      position: absolute;
      color: greenyellow;
      font-size: 20px;
      margin-left: 85px;
      margin-top: 70px; }
    .mobs .guardian .mobs_guardian-texto2 {
      display: block;
      position: absolute;
      color: greenyellow;
      font-size: 20px;
      margin-left: 85px;
      margin-top: 100px; }
    .mobs .guardian .mobs_guardian-texto3 {
      display: block;
      position: absolute;
      color: greenyellow;
      font-size: 20px;
      margin-left: 85px;
      margin-top: 120px; }
    .mobs .guardian .mobs_guardian-texto4 {
      display: block;
      position: absolute;
      color: greenyellow;
      font-size: 20px;
      margin-left: 85px;
      margin-top: 140px; }
  .mobs .guardian_anciano {
    display: block;
    margin-left: 60px; }
    .mobs .guardian_anciano .mobs_guardiananciano-gif {
      display: block;
      margin-left: 110px;
      margin-top: 30px;
      height: 250px;
      width: 200px; }
    .mobs .guardian_anciano .mobs_guardiananciano-subtitle {
      display: block;
      position: absolute;
      color: grey;
      font-size: 30px;
      margin-left: 80px;
      margin-top: 20px; }
    .mobs .guardian_anciano .mobs_guardiananciano-texto1 {
      display: block;
      position: absolute;
      color: white;
      font-size: 25px;
      margin-left: 85px;
      margin-top: 70px; }
    .mobs .guardian_anciano .mobs_guardiananciano-texto2 {
      display: block;
      position: absolute;
      color: white;
      font-size: 25px;
      margin-left: 85px;
      margin-top: 95px; }

.mobs_responsive {
  display: none; }

/*Mobs responsive*/
@media screen and (max-width: 720px) {
  .mobs {
    display: none; }
  .mobs_responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 25px; }
    .mobs_responsive .ahogado_responsive {
      margin-bottom: 200px;
      padding-right: 60px; }
      .mobs_responsive .ahogado_responsive .mobs_ahogado_responsive-jpg {
        height: 250px;
        width: 150px; }
      .mobs_responsive .ahogado_responsive .mobs_ahogado_responsive-subtitle {
        display: block;
        position: absolute;
        color: lightseagreen;
        font-size: 30px;
        margin-left: 45px;
        margin-top: 20px; }
      .mobs_responsive .ahogado_responsive .mobs_ahogado_responsive-texto1 {
        display: block;
        position: absolute;
        color: white;
        font-size: 25px;
        margin-left: 35px;
        margin-top: 50px; }
      .mobs_responsive .ahogado_responsive .mobs_ahogado_responsive-texto2 {
        display: block;
        position: absolute;
        color: white;
        font-size: 25px;
        margin-left: 35px;
        margin-top: 75px; }
      .mobs_responsive .ahogado_responsive .mobs_ahogado_responsive-texto3 {
        display: block;
        position: absolute;
        color: greenyellow;
        font-size: 20px;
        margin-left: 15px;
        margin-top: 110px; }
      .mobs_responsive .ahogado_responsive .mobs_ahogado_responsive-texto4 {
        display: block;
        position: absolute;
        color: greenyellow;
        font-size: 20px;
        margin-left: 15px;
        margin-top: 135px; }
      .mobs_responsive .ahogado_responsive .mobs_ahogado_responsive-texto5 {
        display: block;
        position: absolute;
        color: greenyellow;
        font-size: 20px;
        margin-left: 15px;
        margin-top: 155px; }
      .mobs_responsive .ahogado_responsive .mobs_ahogado_responsive-texto6 {
        display: block;
        position: absolute;
        color: greenyellow;
        font-size: 20px;
        margin-left: 15px;
        margin-top: 175px; }
    .mobs_responsive .guardian_responsive {
      margin-bottom: 200px; }
      .mobs_responsive .guardian_responsive .mobs_guardian_responsive-gif {
        margin-left: 40px;
        height: 250px;
        width: 200px; }
      .mobs_responsive .guardian_responsive .mobs_guardian_responsive-subtitle {
        display: block;
        position: absolute;
        color: aquamarine;
        font-size: 30px;
        margin-left: 50px;
        margin-top: 20px; }
      .mobs_responsive .guardian_responsive .mobs_guardian_responsive-texto1 {
        display: block;
        position: absolute;
        color: greenyellow;
        font-size: 20px;
        margin-left: 30px;
        margin-top: 60px; }
      .mobs_responsive .guardian_responsive .mobs_guardian_responsive-texto2 {
        display: block;
        position: absolute;
        color: greenyellow;
        font-size: 20px;
        margin-left: 30px;
        margin-top: 80px; }
      .mobs_responsive .guardian_responsive .mobs_guardian_responsive-texto3 {
        display: block;
        position: absolute;
        color: greenyellow;
        font-size: 20px;
        margin-left: 30px;
        margin-top: 100px; }
      .mobs_responsive .guardian_responsive .mobs_guardian_responsive-texto4 {
        display: block;
        position: absolute;
        color: greenyellow;
        font-size: 20px;
        margin-left: 30px;
        margin-top: 120px; }
    .mobs_responsive .guardian_anciano_responsive .mobs_guardiananciano_responsive-gif {
      height: 250px;
      width: 200px; }
    .mobs_responsive .guardian_anciano_responsive .mobs_guardiananciano_responsive-subtitle {
      display: block;
      position: absolute;
      color: grey;
      font-size: 30px;
      margin-left: 30px;
      margin-top: 20px; }
    .mobs_responsive .guardian_anciano_responsive .mobs_guardiananciano_responsive-texto1 {
      display: block;
      position: absolute;
      color: white;
      font-size: 25px;
      margin-left: 30px;
      margin-top: 90px; }
    .mobs_responsive .guardian_anciano_responsive .mobs_guardiananciano_responsive-texto2 {
      display: block;
      position: absolute;
      color: white;
      font-size: 25px;
      margin-left: 30px;
      margin-top: 115px; } }

/*Estructuras escritorio*/
.estructuras {
  display: flex;
  justify-content: start; }
  .estructuras .ruinas .estructuras_ruinas-jpg {
    display: block;
    margin-left: 50px;
    margin-top: 320px;
    height: 300px;
    width: 450px; }
  .estructuras .ruinas .estructuras_ruinas-subtitle {
    display: block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 117px;
    margin-top: 45px; }
  .estructuras .templo {
    display: block;
    margin-left: 40px;
    margin-top: 320px; }
    .estructuras .templo .estructuras_templo-jpg {
      height: 300px;
      width: 450px; }
    .estructuras .templo .estructuras_templo-subtitle {
      display: block;
      position: absolute;
      color: white;
      font-size: 25px;
      margin-left: 90px;
      margin-top: 45px; }

.estructuras_responsive {
  display: none; }

/*Estructuras responsive*/
@media screen and (max-width: 720px) {
  .estructuras {
    display: none; }
  .estructuras_responsive {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 200px;
    padding-left: 15px; }
    .estructuras_responsive .ruinas_responsive .estructuras_ruinas_responsive-jpg {
      padding-bottom: 100px;
      height: 100px;
      width: 250px; }
    .estructuras_responsive .ruinas_responsive .estructuras_ruinas_responsive-subtitle {
      display: block;
      position: absolute;
      color: white;
      font-size: 25px;
      margin-left: 50px;
      margin-top: -85px; }
    .estructuras_responsive .templo_responsive .estructuras_templo_responsive-jpg {
      height: 100px;
      width: 250px; }
    .estructuras_responsive .templo_responsive .estructuras_templo_responsive-subtitle {
      display: block;
      position: absolute;
      color: white;
      font-size: 25px;
      margin-left: 50px;
      margin-top: 30px; } }

/*Footer escritorio*/
footer {
  margin-top: 500px;
  background-color: crimson; }
  footer .footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    footer .footer2 .cybergang {
      height: 80px;
      width: 80px; }
    footer .footer2 .server {
      height: 80px;
      width: 80px; }
    footer .footer2 .server3 {
      position: absolute;
      margin-left: 380px;
      margin-top: 40px; }
    footer .footer2 .server2 {
      margin-right: 45px;
      margin-top: 10px; }
    footer .footer2 .discord {
      margin-top: 25px; }

.footer_responsive {
  display: none; }

/*Footer responsive*/
@media screen and (max-width: 720px) {
  footer {
    display: none; }
  .footer_responsive {
    display: block;
    margin-top: 300px;
    background-color: crimson; }
    .footer_responsive .footer2_responsive {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly; }
      .footer_responsive .footer2_responsive .cybergang_responsive {
        height: 60px;
        width: 60px; }
      .footer_responsive .footer2_responsive .server_responsive {
        height: 60px;
        width: 60px; } }
