/*Colores*/
$body_color: black;
$footer_color: crimson;
$color_G: greenyellow;
$color_W: white;
/*Tipografía*/
$bioma_titulo: 25px;
$mobs_titulo: 30px;
$mobs_subtitulo: 25px;
$mobs_probabilidad: 20px;
/*Display*/
$display: block;
$display_F: flex;
$position: absolute;
/*Flex*/
$flex_R: row;
$flex_C: column;