*{
    padding: 0;
    margin: 0;
}
body{
background-color: black;
}
/*nav escritorio*/
.nav{
    background-color: purple;
}
h1{
    display: inline-block;
  position: absolute;
  color: black;
  font-size: 25px;
  left: 60px;
  top: 8px;
}
.nav_responsive{
    display: none;
}
/*nav responsive*/
@media screen and (max-width: 720px){
.nav{
    display: none;
}
.nav_responsive{
    display: block;
    background-color: purple;
    width: 100%;
}
}
/*Mobs escritorio*/
.enderman-gif{
    display:block;
    margin-left: 48px;
    margin-top: 30px;
}
.enderman-subtitle{
    display:block;
  position: absolute;
  color: purple;
  font-size: 30px;
  margin-left: 60px;
  margin-top: 20px;
}
.enderman-texto1{
    display:block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 85px;
    margin-top: 70px;
}
.enderman-texto2{
    display:block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 85px;
    margin-top: 95px;
}
.enderman-texto3{
    display:block;
    position: absolute;
    color:greenyellow;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 145px;
}
.enderman-texto4{
    display: block;
    position: absolute;
    color:greenyellow;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 175px;
}
.mobs_enderdragon-gif{
    margin-left: 420px;
    margin-top: -260px;
}
.enderdragon-subtitle{
    display:block;
  position: absolute;
  color: purple;
  font-size: 30px;
  margin-left: 390px;
  margin-top: 10px;
}
.mobs_enderdragon-texto1{
    display:block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 430px;
    margin-top: 60px;
}
.mobs_enderdragon-texto2{
    display:block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 430px;
    margin-top: 85px;
}
.mobs{
    display: flex;
    justify-content: start;
}
.enderdragon{
    margin-top: 290px;
}
.mobs_responsive{
    display: none;
}
/*Mobs responsive*/
@media screen and (max-width: 720px){
.mobs{
    display: none;
}
.mobs_responsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.enderman_responsive-subtitle{
    display:block;
  position: absolute;
  color: purple;
  font-size: 30px;
  margin-left: 20px;
}
.enderman_responsive-texto1{
    display:block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 35px;
}
}
footer{
    margin-top: 500px;
    background-color: crimson;
}
.footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.server3{
    position: absolute;
    margin-left: 380px;
    margin-top: 40px;
}
.server2{
    margin-right: 45px;
    margin-top: 10px;
}
.discord{
    margin-top: 25px;
}