*{
    padding: 0;
    margin: 0;
}
body{
background-color: black;
}
/*nav escritorio*/
.nav{
    background-color: aqua;
}
h1{
    display: inline-block;
  position: absolute;
  color: black;
  font-size: 25px;
  left: 60px;
  top: 8px;
}
.nav_responsive{
    display: none;
}
/*nav responsive*/
@media screen and (max-width: 720px){
.nav{
    display: none;
}
.nav_responsive{
    display: block;
    background-color: aqua;
    width: 100%;
}
}
/*Mobs escritorio*/
.mobs{
    display: flex;
    justify-content: start;
}
.mobs_ahogado-jpg{
    display:block;
    margin-left: 88px;
    margin-top: 30px;
}
.mobs_ahogado-subtitle{
    display:block;
  position: absolute;
  color: lightseagreen;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 20px;
}
.mobs_ahogado-texto1{
    display:block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 85px;
    margin-top: 70px;
}
.mobs_ahogado-texto2{
    display:block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 85px;
    margin-top: 95px;
}
.mobs_ahogado-texto3{
    display:block;
    position: absolute;
    color:greenyellow;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 145px;
}
.mobs_ahogado-texto4{
    display: block;
    position: absolute;
    color:greenyellow;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 175px;
}
.mobs_ahogado-texto5{
    display:block;
    position: absolute;
    color:greenyellow;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 195px;
}
.mobs_ahogado-texto6{
    display: block;
    position: absolute;
    color:greenyellow;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 215px;
}
.mobs_guardian-gif{
    display:block;
    margin-left: 88px;
    margin-top: 30px;
}
.mobs_guardian-subtitle{
    display:block;
    position: absolute;
    color: aquamarine;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 20px;
}
.mobs_guardian-texto1{
    display:block;
    position: absolute;
    color: greenyellow;
    font-size: 20px;
    margin-left: 85px;
    margin-top: 70px;
}
.mobs_guardian-texto2{
    display:block;
    position: absolute;
    color: greenyellow;
    font-size: 20px;
    margin-left: 85px;
    margin-top: 100px;
}
.mobs_guardian-texto3{
    display:block;
    position: absolute;
    color: greenyellow;
    font-size: 20px;
    margin-left: 85px;
    margin-top: 120px;
}
.mobs_guardian-texto4{
    display:block;
    position: absolute;
    color: greenyellow;
    font-size: 20px;
    margin-left: 85px;
    margin-top: 140px;
}
.guardian{
    display: block;
    margin-left: 60px;
}
.mobs_guardiananciano-gif{
    display:block;
    margin-left: 110px;
    margin-top: 30px;
}
.mobs_guardiananciano-subtitle{
    display:block;
    position: absolute;
    color: grey;
    font-size: 30px;
    margin-left: 80px;
    margin-top: 20px;
}
.mobs_guardiananciano-texto1{
    display:block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 85px;
    margin-top: 70px;
}
.mobs_guardiananciano-texto2{
    display:block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 85px;
    margin-top: 95px;
}
.guardian_anciano{
    display: block;
    margin-left: 60px;
}
.mobs_responsive{
    display: none;
}
/*Mobs responsive*/
@media screen and (max-width: 720px){
.mobs{
    display: none;
}
.mobs_responsive{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    margin-top: 25px;
}
.ahogado_responsive{
    margin-bottom: 200px;
}
.mobs_ahogado_responsive-subtitle{
    display:block;
    position: absolute;
  color: lightseagreen;
  font-size: 30px;
  margin-left: 45px;
  margin-top: 20px;
}
.mobs_ahogado_responsive-texto1{
    display:block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 35px;
    margin-top: 50px;
}
.mobs_ahogado_responsive-texto2{
    display:block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 35px;
    margin-top: 75px;
}
.mobs_ahogado_responsive-texto3{
    display:block;
    position: absolute;
    color:greenyellow;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 110px;
}
.mobs_ahogado_responsive-texto4{
    display: block;
    position: absolute;
    color:greenyellow;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 135px;
}
.mobs_ahogado_responsive-texto5{
    display:block;
    position: absolute;
    color:greenyellow;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 155px;
}
}
.estructuras{
    display: flex;
    justify-content: start;
}
.estructuras_ruinas-jpg{
    display: block;
    margin-left: 50px;
    margin-top: 320px;
}
.estructuras_ruinas-subtitle{
    display:block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 117px;
    margin-top: 45px;
}
.templo{
    display:block;
    margin-left: 40px;
    margin-top: 320px;
}
.estructuras_templo-subtitle{
    display:block;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-left: 90px;
    margin-top: 45px;
}
footer{
    margin-top: 500px;
    background-color: crimson;
}
.footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.server3{
    position: absolute;
    margin-left: 380px;
    margin-top: 40px;
}
.server2{
    margin-right: 45px;
    margin-top: 10px;
}
.discord{
    margin-top: 25px;
}
.footer_responsive{
    display: none;
}